/* line 12, ../scss/main.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background: url("../images/header.jpg") center top no-repeat;
  background-position-y: -120px;
}

/**
 * Header
 */
/* line 21, ../scss/main.scss */
header {
  color: white;
}
/* line 24, ../scss/main.scss */
header h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  -webkit-text-shadow: 0px 2px 18px rgba(50, 50, 50, 0.29);
  -moz-text-shadow: 0px 2px 18px rgba(50, 50, 50, 0.29);
  text-shadow: 0px 2px 18px rgba(50, 50, 50, 0.29);
  font-size: 6em;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}
/* line 32, ../scss/main.scss */
header p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  -webkit-text-shadow: 0px 2px 18px rgba(50, 50, 50, 0.29);
  -moz-text-shadow: 0px 2px 18px rgba(50, 50, 50, 0.29);
  text-shadow: 0px 2px 18px rgba(50, 50, 50, 0.29);
  font-size: 1.4em;
  margin-bottom: 2.2em;
}

/* line 42, ../scss/main.scss */
.overlay {
  height: 147px px;
  padding: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 49, ../scss/main.scss */
a.download-badge {
  text-indent: -9999px;
  background-image: url("../images/scarica-app-store.png");
  width: 275px;
  height: 87px;
  display: block;
}
/* line 56, ../scss/main.scss */
a.download-badge:hover {
  background-position: 0px -87px;
}
/* line 60, ../scss/main.scss */
a.download-badge.centered-badge {
  margin: 0 auto;
}

/**
 * Phone + icon
 */
/* line 68, ../scss/main.scss */
.phone-icon {
  margin-top: 1em;
  width: 316px;
  height: 644px;
  background: url("../images/phone-icon.png") left top no-repeat;
  float: right;
  margin-right: 30px;
}

/**
 * General use
 */
/* line 80, ../scss/main.scss */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* line 84, ../scss/main.scss */
.container.container-padded {
  padding: 30px 0;
}

/* line 89, ../scss/main.scss */
.frame.can-flow::after {
  clear: none;
}

/* line 93, ../scss/main.scss */
.clr {
  clear: both;
}

/**
 * Sections for features
 */
/* line 100, ../scss/main.scss */
.feature:first-of-type {
  margin-top: 7em;
}

/* line 104, ../scss/main.scss */
.feature {
  margin-top: 5em;
  margin-bottom: 5em;
}
/* line 109, ../scss/main.scss */
.feature .phone {
  background: url("../images/phone.png") left top no-repeat;
  width: 245px;
  height: 515px;
  float: left;
}
/* line 115, ../scss/main.scss */
.feature .phone .screen {
  position: relative;
  top: 76px;
  left: 21px;
  width: 206px;
  height: 365px;
}
/* line 125, ../scss/main.scss */
.feature .icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
/* line 133, ../scss/main.scss */
.feature h2 {
  vertical-align: middle;
  display: inline-block;
  font-size: 2.8em;
  color: #35a9e6;
  font-weight: 400;
}
/* line 141, ../scss/main.scss */
.feature p {
  margin-top: 2em;
  font-size: 1.4em;
  font-weight: 200;
  color: #747474;
}

/**
 * Feature: Exams
 */
/* line 154, ../scss/main.scss */
.feature.exams .screen {
  background: url("../images/screen/exams.gif") left top no-repeat;
}
/* line 158, ../scss/main.scss */
.feature.exams .icon {
  background: url("../images/feature/check.png") no-repeat;
}
/* line 162, ../scss/main.scss */
.feature.exams h2 {
  color: #35a9e6;
}

/**
 * Feature: Forecast
 */
/* line 171, ../scss/main.scss */
.feature.forecast .screen {
  background: url("../images/screen/forecast.gif") left top no-repeat;
}
/* line 175, ../scss/main.scss */
.feature.forecast .icon {
  background: url("../images/feature/forecast.png") no-repeat;
}
/* line 179, ../scss/main.scss */
.feature.forecast h2 {
  color: #35a9e6;
}

/**
 * Feature: Calculate
 */
/* line 188, ../scss/main.scss */
.feature.calc .screen {
  background: url("../images/screen/calc.gif") left top no-repeat;
}
/* line 192, ../scss/main.scss */
.feature.calc .icon {
  background: url("../images/feature/calc.png") no-repeat;
}

/**
 * Feature: Customize
 */
/* line 201, ../scss/main.scss */
.feature.customize .screen {
  background: url("../images/screen/customize.gif") left top no-repeat;
}
/* line 205, ../scss/main.scss */
.feature.customize .icon {
  background: url("../images/feature/customize.png") no-repeat;
}

/* line 210, ../scss/main.scss */
.padded {
  padding-top: 4em;
}

/**
 * Sizing
 */
/* line 218, ../scss/main.scss */
.bit-big {
  width: 68%;
}

/* line 221, ../scss/main.scss */
.bit-small {
  width: 32%;
}
/* line 225, ../scss/main.scss */
.bit-small.left .phone {
  float: left;
}
/* line 231, ../scss/main.scss */
.bit-small.right .phone {
  float: right;
}

/**
 * Footer
 */
/* line 240, ../scss/main.scss */
footer {
  background-color: #f1f2f4;
}
/* line 243, ../scss/main.scss */
footer p {
  padding-top: 1.8em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  color: #afafaf;
  line-height: 1.2em;
}
/* line 252, ../scss/main.scss */
footer a {
  color: #47b1e8;
  text-decoration: none;
}
/* line 256, ../scss/main.scss */
footer a:hover {
  color: #2592ca;
  text-decoration: none;
}
/* line 261, ../scss/main.scss */
footer a:visited {
  text-decoration: none;
}

@media (max-width: 1200px) {
  /* line 273, ../scss/main.scss */
  header h1 {
    margin-left: 30px;
  }
  /* line 277, ../scss/main.scss */
  header p {
    margin-left: 30px;
  }

  /* line 282, ../scss/main.scss */
  .container {
    padding: 2em;
  }

  /* line 286, ../scss/main.scss */
  .overlay {
    padding-left: 4em;
  }
  /* line 287, ../scss/main.scss */
  .overlay .container {
    padding: 0;
  }

  /* line 294, ../scss/main.scss */
  .feature {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 4em;
  }
}
@media (max-width: 1024px) {
  /* line 302, ../scss/main.scss */
  .phone-icon {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
  }

  /* line 310, ../scss/main.scss */
  header h1 {
    font-size: 4.2em;
  }
  /* line 314, ../scss/main.scss */
  header p {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }

  /* line 320, ../scss/main.scss */
  .feature:first-of-type {
    margin-top: -6em;
  }

  /* line 325, ../scss/main.scss */
  .feature .bit-big {
    width: 100%;
    float: left;
  }
  /* line 330, ../scss/main.scss */
  .feature .bit-small {
    width: 100%;
    float: right;
  }
  /* line 335, ../scss/main.scss */
  .feature .phone {
    margin: 0 auto;
    margin-top: 4em;
    float: none !important;
  }
}
@media (max-width: 768px) {
  /* line 344, ../scss/main.scss */
  .feature:first-of-type {
    margin-top: 4em;
  }

  /* line 348, ../scss/main.scss */
  body {
    background-position-y: -220px;
  }

  /* line 353, ../scss/main.scss */
  .feature h2 {
    font-size: 2em;
  }
  /* line 357, ../scss/main.scss */
  .feature .icon {
    max-width: 100%;
    max-height: 100%;
    width: 35px;
    height: 35px;
    background-size: contain !important;
    margin-left: 0;
    display: block;
    float: right;
  }

  /* line 369, ../scss/main.scss */
  .bit-big {
    width: 100%;
  }

  /* line 373, ../scss/main.scss */
  .phone-icon {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 380, ../scss/main.scss */
  .container {
    padding: 1em;
  }

  /* line 385, ../scss/main.scss */
  header h1 {
    text-align: center;
    font-size: 2.6em;
    margin-left: 0;
  }
  /* line 391, ../scss/main.scss */
  header p {
    text-align: center;
    margin-left: 0;
  }
  /* line 396, ../scss/main.scss */
  header .overlay {
    padding: 30px 0;
  }

  /* line 401, ../scss/main.scss */
  a.download-badge {
    margin: 0 auto;
  }

  /* line 406, ../scss/main.scss */
  .feature h2 {
    font-size: 1.4em;
  }
  /* line 410, ../scss/main.scss */
  .feature p {
    font-size: 1em;
  }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 421, ../scss/main.scss */
  a.download-badge {
    background-image: url("../images/scarica-app-store@2x.png");
    background-size: 275px 87px;
  }

  /* line 427, ../scss/main.scss */
  .feature .phone {
    background-image: url("../images/phone@2x.png");
    background-size: 245px 515px;
  }

  /* line 433, ../scss/main.scss */
  .phone-icon {
    background-image: url("../images/phone-icon@2x.png");
    background-size: 316px 644px;
  }
}
